* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* position: relative; */
    font-family: "Inter";

    /* background-repeat: no-repeat; */
    /* background:fixed; */
    /* height: 100vh; */
}

.hero {
    height: 95vh;
    position: relative;
    background: url(images/bg.jpg) center/cover no-repeat;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    height: 95vh;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1;

}

.hero >* {

    position: relative;
    z-index: 2;
}

header {
    /* position: relative; */
    display: flex;
    justify-content: space-between;

    align-items: center;
    padding: 15px 125px;
    /* z-index: 2; */

}


img {
    width: 190px;
    margin-top: 0rem;

}

select {
    padding: 7px 16px;
    border-radius: 4px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.542);
    font-size: 15px;
    color: white;
    font-family: inter;
    border: 1px solid #5E5E5E;
}

option {
    background-color: white;
    color: black;
}


.signin {
    background-color: #E50914;
    font-family: inter;
    border: none;
    color: white;
    border-radius: 4px;
    padding: 9px 17px;
    font-weight: bold;
    margin-left: 4px;
    margin-right: 45px;
    font-size: 14px;
}

.signin:hover {
    cursor: pointer;
}

main {
    /* position: relative; */
    margin-top: 8.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
}

main h2 {
    font-size: 58px;
    font-weight: 800;
    /* margin-bottom: 10px; */
}

.last-h2 {
    margin-bottom: 15px;
}

main h6 {
    font-size: 20px;
    margin-bottom: 35px;
}

main input {
    font-family: inter;
    border-radius: 6px;
    border: 1px solid #5E5E5E;
    /* padding: 1rem 0rem; */
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.656);
    caret-color: white;
    color: white;
    text-indent: 20px;
    height: 62px;
    line-height: 50px;
    width: 23rem;

}

main input::placeholder {
    color: #B9B8B8;
    font-size: 15px;

}



main p {
    font-size: 15px;
    margin-bottom: 15px;
}



.getstarted {
    color: white;
    background-color: #E50914;
    border: none;
    border-radius: 6px;
    font-family: inter;
    font-weight: bold;
    padding: 1rem 2.1rem;
    font-size: 24px;
    margin-left: 0.3rem;

}

.getting-started-btn {
    margin-right: 1rem;
}

.getstarted img {
    width: 20px;
}

.getstarted:hover {
    cursor: pointer;
}

hr{
    height: 7px;
    border:none;
    background: linear-gradient(
    to right,
    #300a0a,   
    #dc2626,  
    #300a0a    
    );
}

.scroll-section{
    background-color: black;
    height: 100px;
}

.trending-now{

    background-color: inherit;
    padding: 5rem 11rem;
    color: white;
    
}

.trending-now h3 , .faq h3{
    font-size: 1.8rem;
    color: white;
}

.trending-images {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 32px;
  padding: 40px 80px;
}

.faq{
    background-color: inherit;
    padding: 5rem 11rem;
    color: white;
    padding-bottom: 4rem;
}

.faq h3{
    margin-bottom: 1.6rem;
}

.question{
    background-color: #2D2D2D;
    margin-bottom: 0.6rem;
    padding: 1.8rem 2.2rem;
    font-size: 1.8rem;
    transition: 0.2s ease-in-out;

}
.question:hover{
    background-color: #424142;

    cursor: pointer;
}

.scroll{
    padding-top: 4rem;
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}

.scroll p{
    margin-bottom: 1rem;
}

.scroll button{
    font-family: inter;
}
.scroll input{
    font-family: inter;
    width: 45rem;
    height: 4rem;
    border-radius: 6px;
    text-indent:1.4rem;
    background-color: #0F0F0F;
    border: 1px solid #5E5E5E;

}

.scroll input::placeholder{
    color:#7C7A7C;
    font-size: 20px;
}

.footer{
    background-color: inherit;
    color: white;
    padding:10rem 15rem;
}