*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter";
    background-image: url(images/bg.jpg);
    background-repeat: no-repeat;
}


header{
    display: flex;
    justify-content: space-between;
    margin-top: 0.8rem;
    align-items: center;
    padding: 0px 125px;
    
}


img{
    width: 190px;
    margin-top: 0rem;
    
}

select {
    padding: 7px 16px;
    border-radius: 4px ;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.542);
    font-size: 15px;
    color: white;
    font-family: inter;
    border: 1px solid #5E5E5E;
}

option{
    background-color: white;
    color: black;
}


.signin{
    background-color: red;
    font-family: inter;
    border: none;
    color: white;
    border-radius: 4px;
    padding: 9px 17px;
    font-weight: bold;
    margin-left:4px;
    margin-right: 45px;
    font-size: 14px;
}

.signin:hover{
    cursor: pointer;
}

main{
    margin-top:10rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
}

main h2{
    font-size: 58px;
    font-weight: 800;
    /* margin-bottom: 10px; */
}

.last-h2{
    margin-bottom: 15px;
}

main h6{
    font-size: 20px;
    margin-bottom: 35px;
}

main input{
    font-family: inter;
    border-radius: 6px;
    border: 1px solid #5E5E5E;
    padding: 1rem 2rem ;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.656);    
    caret-color: white;
    color:white;
    
}

main input::placeholder{
    color: #B9B8B8;
    font-size: 15px;
    
}



main p{
    font-size: 15px;
    margin-bottom: 15px;
}



.getstarted{
    color: white;
    background-color: red;
    border: none;
    border-radius: 6px;
    font-family: inter;
    font-weight: bold;
    padding: 1rem 2.1rem;
    font-size: 24px;
    margin-left: 0.3rem;
    
}

.getting-started-btn{
    margin-right: 1rem;
}

.getstarted img{
    width: 20px;
}

.getstarted:hover{
    cursor: pointer;
}